In [2]:
import pandas as pd
from sqlalchemy import create_engine

# Conex√£o com o PostgreSQL
engine = create_engine("postgresql://admin:pwd@localhost:5432/infomaz-db")

# Leitura das tabelas
df_vendas = pd.read_sql("SELECT * FROM vendas", engine)
df_produtos = pd.read_sql("SELECT * FROM produtos", engine)
df_estoque = pd.read_sql("SELECT * FROM cadastro_estoque", engine)
df_clientes = pd.read_sql("SELECT * FROM cadastro_cliente", engine)
df_fornecedores = pd.read_sql("SELECT * FROM cadastro_fornecedores", engine)

# Preview
df_vendas.head()

,ID NOTA,DATA NOTA,VALOR NOTA,VALOR ITEM,QTD ITEM,ID PRODUTO,ID CLIENTE,_sdc_extracted_at,_sdc_received_at,_sdc_batched_at,_sdc_deleted_at,_sdc_sequence,_sdc_table_version,_sdc_sync_started_at
0,3001,3/5/2023,4299.9,4299.9,1,1001,2015,2025-05-16 18:18:49.826846,2025-05-16 18:18:50.009699,2025-05-16 18:18:50.009690,None,1747419530010,None,1747419529919
1,3002,3/12/2023,5798.9,3899.0,1,1002,2003,2025-05-16 18:18:49.826895,2025-05-16 18:18:50.009874,2025-05-16 18:18:50.009690,None,1747419530010,None,1747419529919
2,3002,3/12/2023,5798.9,1899.0,1,1013,2003,2025-05-16 18:18:49.826927,2025-05-16 18:18:50.009984,2025-05-16 18:18:50.009690,None,1747419530010,None,1747419529919
3,3003,3/18/2023,1028.8,129.9,1,1006,2028,2025-05-16 18:18:49.826954,2025-05-16 18:18:50.010087,2025-05-16 18:18:50.009690,None,1747419530010,None,1747419529919
4,3003,3/18/2023,1028.8,899.5,1,1003,2028,2025-05-16 18:18:49.826981,2025-05-16 18:18:50.010187,2025-05-16 18:18:50.009690,None,1747419530010,None,1747419529919